/* Estilos del menú */


.cabeza-menu ul,
.cuerpo-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}


.cabeza-menu ul li,
.cuerpo-menu ul li {
    display: inline;
    margin: 10px; /* Ajusta según sea necesario */
}

.cabeza-menu ul li a,
.cuerpo-menu ul li a {
    text-decoration: none;
    color: #E2E2B6;
}

.cabeza-menu ul li a:hover,
.cuerpo-menu ul li a:hover {
    color: #6EACDA;
}


