/* Estilos del menú */
.cabeza-menu ul,
.cuerpo-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
    user-select: none;
}

.cabeza-menu ul li,
.cuerpo-menu ul li {
    display: inline;
    margin: 10px; /* Ajusta según sea necesario */
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
    user-select: none;
    cursor: default; /* Asegúrate de que el cursor sea default por defecto */
}

/*Botones*/
.button-navbar {
    color: #E2E2B6;
    width: 15vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 10vh;
}

.button-navbar:hover {
    background-color: #6EACDA;
}

/* Estilo para el botón activo */
.button-navbar.active {
    color: #021526;
    background-color: #6EACDA;
}
