/* Estilos para el menú */
.cabeza-menu ul,
.cuerpo-menu ul {
    list-style-type: none;
    padding: 0;
}

.cabeza-menu ul li,
.cuerpo-menu ul li {
    display: inline;
    margin: 10px; /* Ajusta según sea necesario */
}

.cabeza-menu ul li a,
.cuerpo-menu ul li a {
    text-decoration: none;
    color: #E2E2B6;
    position: relative; /* Necesario para el posicionamiento del círculo */
}

.cabeza-menu ul li a:hover,
.cuerpo-menu ul li a:hover {
    color: #6EACDA;
}

/* Estilos del círculo */
.circle {
    position: absolute;
    width: 50px; /* Tamaño del círculo */
    height: 50px; /* Tamaño del círculo */
    border-radius: 50%; /* Hace que sea un círculo */
    background: rgba(255, 0, 0, 0.3); /* Color y opacidad del círculo */
    pointer-events: none; /* Asegura que el círculo no interfiera con la interacción del usuario */
    transition: background 0.3s ease; /* Transición para el color de fondo */
}
