.homeContainer {
    background-color: red;
    margin-left: 2vh;
    margin-right: 2vh;
    height: 80vh;
    overflow: hidden; /* Esto asegura que cualquier contenido desbordante se oculte */
}

.ContenedorCarruselEstilos {
    background-color: blue;
    height: 80%;
    display: flex;
    width: 70%;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
    overflow: hidden; /* Evita que el contenido sobresalga */
    position: relative;
}

.imagen-Carrusel {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.imagen-Carrusel.active {
    opacity: 1;
}
